<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">
    <link href="../css/plugins/jquery.toast.css" rel="stylesheet">
    

    <!-- Custom Fonts -->
    <link href="../css/plugins/jquery-ui.css" rel="stylesheet">

    <link href="../css/plugins/jquery-ui.theme.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body style="background-image: url(../image/background.jpg); background-position: center;">

    <div>
        <a class="custom-text" href="index.html" style="color: white; text-align: center;"><h1><b>Express Shop</b></h1></a>
        <br>
            <div class="col-lg-6 col-md-6 col-sm-12 col-ms-6 col-lg-offset-3 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Login</b></h3>
                    </div>
                    <div class="panel-body" id="app">
                        <form id="form" v-on:submit.prevent="login(password)">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email address" name="email" type="email" v-model="email" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" v-model="password" required>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login">  
                                <a href="#">Forgot password ?</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
       
    </div>
   

    <!-- jQuery -->
   <script src="../controllers/jquery.js"></script>
  
    <script src="../controllers/jquery.toast.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../controllers/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://unpkg.com/vue"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDB_8bag1_emJA4xv2Qe7rL_vvT8_XTbg8",
        authDomain: "databaseshop-752df.firebaseapp.com",
        databaseURL: "https://databaseshop-752df.firebaseio.com",
        projectId: "databaseshop-752df",
        storageBucket: "databaseshop-752df.appspot.com",
        messagingSenderId: "532013472549"
      };
      firebase.initializeApp(config);
    </script>
    <script src="../controllers/cookie.js"></script>
    <script src="../controllers/sha256.js"></script>
    <script src="../controllers/function.js"></script>
    <script src="../controllers/handle_login.js"></script>

</body>

</html>
